/* CONTENIDO */

.contenido {
    flex-grow: 1; /* En este caso CUERPO se comporta como "elemento hijo" */
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Logos categorías */
.categoriasRuta {
    display: flex;
    justify-content: space-evenly;
    margin-top: 128px;
    margin-bottom: 128px;
}

.categoriaRuta {
    text-align: center;
}

/* Rutas recomendadas */
.rutasRecomendadas {
    display: flex;
	justify-content: space-evenly;
}

#recomendados {
	position: relative;
	float: right;
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 51wh;
    border-radius: 10px;
    padding: 5px;
}

.btnCambiarRuta{
    text-align: center;    
}

.btnCambiarRuta img{
    object-fit: cover;
    height: 40px;   
}

.ruta {
    height: 150px;
    width:100% ;
    margin-top: 12px;
    margin-bottom: 12px;    
    display: flex;
    align-items: center;
    background-color: #cceaf4;
    border-radius: 10px;
}

.ruta:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.portadaRuta img{
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.portadaRuta {
    margin-left: 5px;
    position: relative;
    float: left;
    clear: left;
    width: 170px;
    height: 120px;
    vertical-align: middle;
    
}

.datosRuta {
    position: relative;
    float: right;
    width: 65%;
    justify-content: center;
    margin-left: 20px;
}

.nombreRuta {
    height: 20%;
    justify-content: center;
    vertical-align: middle;
    /* margin-top: 0; */
}

.nombreRuta h1{
    vertical-align: middle;
    /* margin-top: 0; */
}


.descripcionRuta {
    height: 80%;
    margin-bottom: 10px;
}

#iframeRuta{
	width: fit-content;
	position: relative;
	float: left;
    z-index: 0;
	
}

iframe {
	border-radius: 15px;
    animation: fadeIn 2s;
}
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media (max-width: 1300px) {

    .rutasRecomendadas {
        flex-direction: column;
    }

    #recomendados {
        position: relative;
        float: left;
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 500px) {

    #recomendados {
        width: 100%;
    }
}






