body {
        display: flex;
        flex-direction: column;
        border: 0;
        margin: 0;
		font: bold 16px sans-serif;
}

/* HEADER */
header {
        margin: 0;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 100px;
        /* background-image: url("../imgs/fondoHeader.jpg"); */
		background-color: rgba(187, 229, 231, 0.888);
		margin-bottom: 40px; 
		display: flex;
		justify-content: space-evenly;
}

header div {
	display: inline;
}

.imagenHeader{
	justify-content: space-evenly;
}

.imagenHeader img{
	margin-top: -40px;
	height: 160px;
	width: 300px;
	
}

/* Boton login */
.botonLogin {
	position: relative;
	float: right;
}

.botonLogin button{
	border: 0; /* Cancelar borde del botón */
	width: fit-content; /* Establecer la longitud y el ancho apropiados del botón */
	height: 30px;
	margin-top: 18px; /* Establezca el ancho apropiado del marco exterior superior y aumente la distancia desde el cuadro de contraseña superior */
	font-size: 20px; /* Modificar el tamaño del texto del botón */
	border-radius: 25px; /* Establecer los bordes izquierdo y derecho del botón en arcos */
	box-shadow: 2px 2px teal;
	background: #f7dc63;
	text-shadow: 0 1px 0px #322e2e, 1px 0 0px #3a4043, 1px 1px 1px ;
	color: #ffffff;
	background: #f3dd78;
	cursor: pointer; /* Cambia el cursor a una mano */
}

/* MENU HEADER */
.menuHeader {
	position: relative;
	float: left;
	z-index: 2;
	width: 174px;
}

.menuHeader img{
	height: 50px;
	width: 50px;
}

.menuHeader nav{
	position: absolute;
	text-decoration: none;
	margin: 0;
	margin-left: -35px;
	display: none;
}

.menuHeader:hover nav {
	display: block;
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.menuHeader {
    color: red;
}

.menuHeader nav ol{
	margin: 0;
}

.menuHeader nav li{
	list-style: none;
	background-color: rgba(150, 196, 198);
	height: 50px;
	width: 150px;
	display: flex;
    align-items: center;
	border: 2px solid #e4e9ec;
}

.menuHeader nav li:hover{
	background-color: rgb(161, 200, 202);
}

.menuHeader nav li a{
	margin: auto;
	text-decoration: none;
	color: #222;
	padding: 20px;
}





/* CONTENIDO */

.contenido {
        flex-grow: 1; /* En este caso CUERPO se comporta como "elemento hijo" */
        min-height: 60vh;
		display: flex;
		justify-content: space-evenly;
}

#iframeRuta{
	width: fit-content;
	position: relative;
	float: left;
}

/*FOOTER*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.iconos{
	width: 20px;
	height: 20px;
	background-color: #666;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #bec3c7;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-icons{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: -15px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	header {
		text-align: center;
		flex-direction: column;
		height: 400px;
	}

	.menuHeader {
		width: fit-content;
	}

	body{
			margin-bottom: 500px;
	}

	.footer-distributed{
		font: bold 14px sans-serif;
        height: fit-content;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}